# 4.6 Combining and Exporting Data

#### Importing libraries

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Brichaelle\01-08-2023 Instacart Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
df_ords_clean = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_consistency_checks.csv'), index_col = False)

## Table of Contents

1 - Dataframe Outputs

2 - Merging Dataframes

3 - Exporting Dataframe

## 1. Dataframe outputs

In [5]:
# Orders Prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
# Orders Clean
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,2398795,1,prior,2,3,7,15.0
1,2,473747,1,prior,3,3,12,21.0
2,3,2254736,1,prior,4,4,7,29.0
3,4,431534,1,prior,5,4,15,28.0
4,5,3367565,1,prior,6,2,7,19.0

In [8]:
df_ords_clean.shape

(3214874, 8)

In [9]:
del df_ords_clean['Unnamed: 0']

In [10]:
# Deleting unnamed column
df_ords_clean.shape

(3214874, 7)

## 2. Merging dataframes

In [12]:
df_merged_large = df_ords_clean.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [14]:
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

## 3. Exporting dataframe

In [15]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))