# 4.6 Combining and Exporting Data

#### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Brichaelle\01-08-2023 Instacart Basket Analysis'

In [3]:
df_prods_clean_no_dups = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_consistency_checks.csv'), index_col = False)

In [5]:
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## Table of Contents

1 - Dataframe Outputs

2 - Merging Dataframes

3 - Exporting Dataframe

## 1. Dataframe outputs

In [6]:
df_merged_large.shape

(30356421, 11)

In [11]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [7]:
df_prods_clean_no_dups.shape

(49688, 6)

In [8]:
df_prods_clean_no_dups.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Deleting unnamed column
del df_prods_clean_no_dups['Unnamed: 0']

In [10]:
df_prods_clean_no_dups.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 2. Merging dataframes

In [16]:
df_merged_large_2 = df_prods_clean_no_dups.merge(df_merged_large, on = 'product_id')

In [17]:
df_merged_large_2.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both

In [18]:
# Merge Flag
df_merged_large_2['_merge'].value_counts()

both          30355051
left_only            0
right_only           0
Name: _merge, dtype: int64

## 3. Exporting dataframe

In [19]:
df_merged_large_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))